---
openapi: 3.0.3
info:
  title: Smart Fridge API (Final)
  description: >
    Это API для владельца умного холодильника. Оно позволяет управлять
    продуктами, контролировать состояние холодильника и получать уведомления —
    прямо как через мобильное приложение.


    ## 🔧 Функции API (для владельца)


    ### 🚪 Управление дверью

    - Вы можете открыть или закрыть дверь холодильника.

    - При открытии автоматически включается свет.


    ### 💡 Управление подсветкой

    - Вы можете вручную включить или выключить свет внутри.

    - Свет автоматически включается при открытии двери.


    ### 🧊 Морозильная камера и контейнеры

    - Вы можете просматривать все контейнеры, включая морозильную камеру.

    - Температура в морозилке поддерживается на заданном уровне.


    ### 🔄 Перемещение контейнеров

    - Вы можете изменить физическое расположение контейнера (например, переставить ящик с овощами снизу вверх).

    - Это полезно при перестановке или уборке.


    ### 🌡 Управление температурой

    - Вы можете изменять температуру:
      - для всего холодильника
      - для морозильной камеры
      - для отдельных контейнеров
    - Система проверяет безопасность значений.


    ### 🥕 Продукты (добавление, изменение, удаление, потребление)

    - Вы можете добавлять продукты (например, пиццу в морозилку).

    - Изменять количество (например, после использования моркови).

    - Употребить продукт — система уменьшит количество или удалит его.

    - Пометить продукт как просроченный вручную.

    - Перемещать продукт между контейнерами.

    - Получать список просроченных и близких к просрочке продуктов.


    ### 📦 Массовые операции

    - Вы можете добавить несколько продуктов за один раз (например, после похода в магазин).


    ### 🔔 Уведомления

    - Система предупреждает вас о:
      - просроченных продуктах
      - слишком высокой температуре
      - открытой двери
      - употреблении продукта

    ### 📊 Мониторинг (Prometheus)

    - Вы можете подключить систему мониторинга.

    - Доступны метрики: количество открытий двери, температура, сроки годности.


    ### 🔁 События в реальном времени

    - Через WebSocket вы получаете события мгновенно:
      - дверь открыта
      - продукт употреблён
      - температура изменилась
      - контейнер перемещён
  version: 1.4.1
  contact:
    name: Smart Fridge Team
    email: api@smartfridge.com
    url: https://smartfridge.com
license:
  name: MIT
  url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.fridge.com/v1
    description: Продакшен
  - url: http://localhost:8080/v1
    description: Локальный сервер
tags:
  - name: Doors
    description: Управление дверью холодильника
  - name: Light
    description: Управление внутренним освещением
  - name: Containers
    description: Управление контейнерами (отделениями)
  - name: Temperature
    description: Управление температурой
  - name: Products
    description: Продукты (добавление, изменение, удаление, потребление)
  - name: Easy Access
    description: Быстрый доступ к продуктам
  - name: Notifications
    description: Системные уведомления
  - name: Events
    description: WebSocket-события в реальном времени
  - name: Metrics
    description: Метрики для Prometheus
components:
  schemas:
    Door:
      type: object
      properties:
        id:
          type: string
          example: door-main
        status:
          type: string
          enum:
            - open
            - closed
          example: closed
        timestamp:
          type: string
          format: date-time
          example: 2025-04-05T10:00:00Z
        light_triggered:
          type: boolean
          example: true
        _links:
          $ref: "#/components/schemas/HALLinks"
    Light:
      type: object
      properties:
        status:
          type: string
          enum:
            - on
            - off
          example: off
        triggered_by:
          type: string
          enum:
            - door_open
            - manual
          example: door_open
        timestamp:
          type: string
          format: date-time
          example: 2025-04-05T10:00:00Z
        _links:
          $ref: "#/components/schemas/HALLinks"
    Container:
      type: object
      properties:
        id:
          type: string
          example: container-veg
        type:
          type: string
          enum:
            - vegetables
            - dairy
            - general
            - freezer
          example: vegetables
        location:
          type: string
          enum:
            - top
            - middle
            - bottom
            - left
            - right
            - top-left
            - top-right
            - middle-left
            - middle-right
            - bottom-left
            - bottom-right
          example: bottom-left
        access_level:
          type: string
          enum:
            - easy
            - normal
          example: easy
        temperature_celsius:
          type: number
          format: float
          example: 4
        capacity_liters:
          type: integer
          example: 30
        is_active:
          type: boolean
          example: true
        products_count:
          type: integer
          example: 5
        _links:
          $ref: "#/components/schemas/HALLinks"
    Product:
      type: object
      properties:
        id:
          type: string
          example: product-pizza-01
        name:
          type: string
          example: Пицца "Маргарита"
        category:
          type: string
          enum:
            - vegetables
            - dairy
            - meat
            - frozen
            - general
          example: frozen
        quantity:
          type: integer
          example: 1
        expiry_date:
          type: string
          format: date
          example: 2025-10-01
        container_id:
          type: string
          example: container-freezer
        storage_type:
          type: string
          enum:
            - fresh
            - frozen
          example: frozen
        is_expired:
          type: boolean
          example: false
        _links:
          $ref: "#/components/schemas/HALLinks"
    Notification:
      type: object
      properties:
        id:
          type: string
          example: notif-move-001
        type:
          type: string
          enum:
            - expiry_warning
            - temperature_alert
            - door_left_open
            - product_consumed
            - product_expired
            - container_moved
          example: container_moved
        message:
          type: string
          example: Контейнер 'Овощи' перемещён в положение 'middle-right'
        severity:
          type: string
          enum:
            - low
            - medium
            - high
          example: low
        timestamp:
          type: string
          format: date-time
          example: 2025-04-05T11:30:00Z
        _links:
          $ref: "#/components/schemas/HALLinks"
    HALLinks:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
              example: /containers/container-veg
        collection:
          type: object
          properties:
            href:
              type: string
              example: /containers
        products:
          type: object
          properties:
            href:
              type: string
              example: /products?container_id=container-veg
        move:
          type: object
          properties:
            href:
              type: string
              example: /containers/container-veg/move
        temperature:
          type: object
          properties:
            href:
              type: string
              example: /temperature?target=container&container_id=container-veg
    MetricsResponse:
      type: string
      example: |
        # HELP fridge_door_open_total Общее количество открытий двери
        # TYPE fridge_door_open_total counter
        fridge_door_open_total 42

        # HELP fridge_temperature_celsius Температура по зонам
        # TYPE fridge_temperature_celsius gauge
        fridge_temperature_celsius{zone="main"} 4.2
        fridge_temperature_celsius{zone="freezer"} -18.0

        # HELP product_expiry_days Оставшиеся дни до просрочки
        # TYPE product_expiry_days gauge
        product_expiry_days{product="Пицца \"Маргарита\""} 168

        # HELP expired_products_total Количество просроченных продуктов
        # TYPE expired_products_total gauge
        expired_products_total 1

        # HELP freezer_power_state Состояние морозилки (1=включена)
        # TYPE freezer_power_state gauge
        freezer_power_state 1

        # HELP container_moves_total Количество перемещений контейнеров
        # TYPE container_moves_total counter
        container_moves_total 3
    MoveContainerRequest:
      type: object
      properties:
        new_location:
          type: string
          enum:
            - top
            - middle
            - bottom
            - left
            - right
            - top-left
            - top-right
            - middle-left
            - middle-right
            - bottom-left
            - bottom-right
          example: middle-right
      required:
        - new_location
      example:
        new_location: middle-right
    ProductsFromThePackageRequest:
      type: array
      items:
        $ref: "#/components/schemas/Product"
      example:
        - name: Молоко
          category: dairy
          quantity: 1
          expiry_date: 2025-04-07
          container_id: container-dairy
        - name: Яйца
          category: dairy
          quantity: 10
          expiry_date: 2025-04-15
          container_id: container-dairy
    MoveProductRequest:
      type: object
      properties:
        target_container_id:
          type: string
          example: container-veg
      required:
        - target_container_id
      example:
        target_container_id: container-veg
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Bad Request
        message:
          type: string
          example: Поле 'quantity' не может быть отрицательным
        status:
          type: integer
          example: 400
        timestamp:
          type: string
          format: date-time
          example: 2025-04-05T11:00:00Z
        path:
          type: string
          example: /products/product-carrot-01
        details:
          type: object
          additionalProperties: true
          example:
            field: quantity
            value: -1
            constraint: must be >= 0
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  security:
    - BearerAuth: []
    - ApiKeyAuth: []
  responses:
    Success200:
      description: Операция выполнена успешно
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/Door"
              - $ref: "#/components/schemas/Light"
              - $ref: "#/components/schemas/Container"
              - $ref: "#/components/schemas/Product"
              - $ref: "#/components/schemas/Notification"
    Created201:
      description: Ресурс успешно создан
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/Product"
              - $ref: "#/components/schemas/Notification"
    NoContent204:
      description: Операция выполнена, содержимое отсутствует
      content: {}
    BadRequest400:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Bad Request
            message: Некорректный запрос
            status: 400
            path: /doors
    Unauthorized401:
      description: Неавторизованный доступ
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Unauthorized
            message: Требуется JWT токен или API-ключ
            status: 401
            path: /doors
    Forbidden403:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Forbidden
            message: У вас нет прав для выполнения запроса
            status: 403
            path: /temperature
    NotFound404:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Not Found
            message: По вашему запросу ничего не найдено
            status: 404
            path: /containers/container-999
    MethodNotAllowed405:
      description: Метод не поддерживается
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Method Not Allowed
            message: Метод не поддерживается для этого эндпоинта
            status: 405
            path: /products
    Conflict409:
      description: Конфликт состояния
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Conflict
            message: Нельзя изменить состояние объекта из-за его зависимости от состояния связанного объекта
            status: 409
            path: /containers/container-veg/move
    UnprocessableEntity422:
      description: Данные не прошли валидацию
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Unprocessable Entity
            message: Новое значение для этого объекта не поддерживается
            status: 422
            path: /containers/container-veg/move
            details:
              field: new_location
              value: ceiling
              constraint: "must be one of: top, middle, bottom, ..."
    InternalServerError500:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Internal Server Error
            message: Не удалось обработать запрос корректно
            status: 500
            path: /containers/container-veg/move
  requestBodies:
    MoveContainer:
      description: Изменение расположения контейнера
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MoveContainerRequest"
paths:
  /doors:
    put:
      tags:
        - Doors
      summary: Открыть или закрыть дверь
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                    - open
                    - close
                  example: close
              required:
                - action
      responses:
        "200":
          $ref: "#/components/responses/Success200"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  /light:
    get:
      tags:
        - Light
      summary: Получить состояние света
      responses:
        "200":
          $ref: "#/components/responses/Success200"
        "500":
          $ref: "#/components/responses/InternalServerError500"
    put:
      tags:
        - Light
      summary: Включить или выключить свет вручную
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - on
                    - off
                  example: off
              required:
                - status
      responses:
        "200":
          $ref: "#/components/responses/Success200"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  /containers:
    get:
      tags:
        - Containers
      summary: Получить все контейнеры
      responses:
        "200":
          description: Список всех контейнеров
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Container"
  "/containers/{id}":
    get:
      tags:
        - Containers
      summary: Получить контейнер по ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: container-veg
      responses:
        "200":
          $ref: "#/components/responses/Success200"
        "404":
          $ref: "#/components/responses/NotFound404"
        "500":
          $ref: "#/components/responses/InternalServerError500"
    patch:
      tags:
        - Containers
      summary: Изменить параметры контейнера (например, тип или уровень доступа)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Container"
            example:
              type: vegetables
              access_level: easy
      responses:
        "200":
          $ref: "#/components/responses/Success200"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Bad Request
                message: "Поле 'type' должно быть одним из: vegetables, dairy, general, freezer"
                status: 400
                path: /containers/container-veg
                details:
                  field: type
                  value: unknown
                  constraint: "must be one of: vegetables, dairy, general, freezer"
        "404":
          $ref: "#/components/responses/NotFound404"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  "/containers/{id}/move":
    post:
      tags:
        - Containers
      summary: Изменить физическое расположение контейнера
      description: >
        Позволяет указать новое положение контейнера (например, после
        перестановки).

        Генерирует событие `container_moved`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: container-veg
      requestBody:
        $ref: "#/components/requestBodies/MoveContainer"
      responses:
        "200":
          description: Контейнер успешно перемещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
              example:
                id: container-veg
                type: vegetables
                location: middle-right
                access_level: easy
                _links:
                  self:
                    href: /containers/container-veg
                  move:
                    href: /containers/container-veg/move
        "400":
          $ref: "#/components/responses/BadRequest400"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          description: Конфликт состояния
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Conflict
                message: Нельзя изменить расположение при закрытой двери
                status: 409
                path: /containers/container-veg/move
        "422":
          $ref: "#/components/responses/UnprocessableEntity422"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  /products:
    get:
      tags:
        - Products
      summary: Получить все продукты
      responses:
        "200":
          $ref: "#/components/responses/Success200"
    post:
      tags:
        - Products
      summary: Добавить один или несколько продуктов
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/Product"
                - $ref: "#/components/schemas/ProductsFromThePackageRequest"
      responses:
        "201":
          $ref: "#/components/responses/Created201"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  /products/expired:
    get:
      tags:
        - Products
      summary: Получить просроченные продукты
      responses:
        "200":
          $ref: "#/components/responses/Success200"
  /products/near-expiry:
    get:
      tags:
        - Products
      summary: Получить продукты, близкие к просрочке
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            minimum: 1
            default: 3
          description: Количество дней до истечения срока
      responses:
        "200":
          $ref: "#/components/responses/Success200"
  "/products/{id}":
    patch:
      tags:
        - Products
      summary: Изменить количество продукта
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  minimum: 0
                  example: 2
              required:
                - quantity
      responses:
        "200":
          $ref: "#/components/responses/Success200"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "404":
          $ref: "#/components/responses/NotFound404"
        "500":
          $ref: "#/components/responses/InternalServerError500"
    delete:
      tags:
        - Products
      summary: Удалить продукт
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          $ref: "#/components/responses/NoContent204"
        "404":
          $ref: "#/components/responses/NotFound404"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  "/products/{id}/consume":
    post:
      tags:
        - Products
      summary: Употребить продукт (уменьшает количество или удаляет)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Количество уменьшено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "204":
          description: Продукт удалён
          content: {}
        "404":
          $ref: "#/components/responses/NotFound404"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  "/products/{id}/expire":
    post:
      tags:
        - Products
      summary: Пометить продукт как просроченный
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Продукт помечен как просроченный
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "404":
          $ref: "#/components/responses/NotFound404"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  "/products/{id}/move":
    patch:
      tags:
        - Products
      summary: Переместить продукт в другой контейнер
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveProductRequest"
      responses:
        "200":
          description: Продукт перемещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "404":
          $ref: "#/components/responses/NotFound404"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  /temperature:
    put:
      tags:
        - Temperature
      summary: Установить температуру
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: string
                  enum:
                    - main
                    - freezer
                    - container
                  example: freezer
                container_id:
                  type: string
                  nullable: true
                  example: container-freezer
                value_celsius:
                  type: number
                  format: float
                  example: -18.5
              required:
                - target
                - value_celsius
            example:
              target: freezer
              value_celsius: -18.5
      responses:
        "200":
          description: Температура установлена
          content:
            application/json:
              example:
                status: success
                message: Температура для freezer установлена на -18.5°C
                timestamp: 2025-04-05T10:20:00Z
        "400":
          $ref: "#/components/responses/BadRequest400"
        "409":
          $ref: "#/components/responses/Conflict409"
        "500":
          $ref: "#/components/responses/InternalServerError500"
  /events:
    get:
      tags:
        - Events
      summary: Подключиться к WebSocket для событий
      description: |
        Подключение по `wss://api.fridge.com/v1/events`

        Поддерживаемые события:
        - `door_opened`
        - `door_closed`
        - `temperature_changed`
        - `product_added`
        - `product_consumed`
        - `product_expired`
        - `container_moved`
        - `expiry_warning`

        Пример:
        ```json
        {
          "event": "container_moved",
          "data": {
            "container_id": "container-veg",
            "old_location": "bottom-left",
            "new_location": "middle-right",
            "timestamp": "2025-04-05T11:30:00Z"
          }
        }
        ```
      responses:
        "101":
          description: Переключение на WebSocket
        "401":
          $ref: "#/components/responses/Unauthorized401"
  /metrics:
    get:
      tags:
        - Metrics
      summary: Получить метрики для Prometheus
      responses:
        "200":
          description: Метрики в формате Prometheus
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/MetricsResponse"
        "500":
          $ref: "#/components/responses/InternalServerError500"






